@import '/styles/constants.scss';

$teal-050: #effcf6;
$teal-100: #c6f7e2;
$teal-200: #8eedc7;
$teal-300: #65d6ad;
$teal-400: #3ebd93;
$teal-500: #27ab83;
$teal-600: #199473;
$teal-700: #147d64;
$teal-800: #0c6b58;
$teal-900: #014d40;

$blue-grey-050: #f0f4f8;
$blue-grey-100: #d9e2ec;
$blue-grey-200: #bcccdc;
$blue-grey-300: #9fb3c8;
$blue-grey-400: #829ab1;
$blue-grey-500: #627d98;
$blue-grey-600: #486581;
$blue-grey-700: #334e68;
$blue-grey-800: #243b53;
$blue-grey-900: #102a43;


.main {
    max-width: max-content;
    margin: 3em auto 0 auto;
    padding: 1.5em;
    background-color: #fff;
    border: 2px solid $blue-grey-200;
    border-radius: 8px;
    grid-column: 1/4;
    max-height: fit-content;
    grid-row: 1/5;
}

.dayOfWeek,
.dateGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.dayOfWeek {
    &>* {
        font-size: 0.7em;
        color: $blue-grey-400;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        text-align: center;
    }
}

.dayContainer {
    width: 100%;
    height: 100px;
    min-width: 100px;
    & > div {
        width: 100%;
        height: 100%;
        text-align: center;
        .dayNumber {
            heigth:20%;
            width:100%;
            time {
                text-align: left !important;
                padding-left: 4px;
                font-size: 0.7rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,auto;
            }
        }
        
        .dayActions {
            height: 80%;
            width: 100%;
            
        }
    }
    &:nth-child(odd) > div {
        background-color:$blue-grey-100;
    }
    &:nth-child(even) > div {
        background-color:$teal-100;
    }
}
